<%= render "refills/hero" %>

<div id="nav-links">
  <div class="grid-items-lines">
    <a href="/life" class="grid-item">
      <span class="fa-stack fa-3x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-group fa-stack-1x fa-inverse"></i>
      </span>
      <h1>My Life</h1>
      <p>I've always got something to say. Give a listen.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item grid-item">
      <span class="fa-stack fa-3x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
      </span>
      <h1>My Work</h1>
      <p>Developing world-class websites and applications is my specialty.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <span class="fa-stack fa-3x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
      </span>
      <h1>Love Local</h1>
      <p>First rate discoveries you need to experience!</p>
      <p><small>* I don't get paid for this</small></p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <span class="fa-stack fa-3x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
      </span>
      <h1>This Matters</h1>
      <p>You can make a difference. Join me in making the world a better place.</p>
    </a>
    <div class="right-cover"></div>
    <div class="bottom-cover"></div>
  </div>
</div>
  
<section id="home-feed">
  <div id="container" class="js-isotope" data-isotope-options='{ "itemSelector": ".item", "sortBy": "random", "masonry": { "columnWidth": 300, "gutter": 20, "isFitWidth": true } }'>
    <a href="https://twitter.com/intent/user?screen_name=stevehtz" target="_blank" class="item twitter">
      <article>
        <span>
          <i class="fa fa-twitter fa-4x"></i>
        </span>
        <p>Follow @stevehtz</p>
      </article>
    </a>
    <a href="http://www.facebook.com/addfriend.php?id=stevenehoutz" target="_blank" class="item fb">
    <article>
        <span>
          <i class="fa fa-facebook fa-4x"></i>
        </span>
        <p>Friend Me on Facebook</p>
      </article>
    </a>
    <a href="http://pinterest.com/stevehtz/" target="_blank" class="item pinterest">
      <article>
        <span>
          <i class="fa fa-pinterest fa-4x"></i>
        </span>
        <p>Follow on Pinterest</p>
      </article>
    </a>
    <article class="item quote">
      <header>
        <span class="fa-stack fa-3x">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-quote-left fa-stack-1x"></i>
        </span>
        <h1>Quote of the Day</h1>
      </header>
      <main>
        <p>"Get outta my way, or I'll rumple your bumper!"</p>
        <p>&mdash;Sierra Houtz</p>
        <button>More Quotes</button>
      </main>
    </article>
    <article class="item blog">
      <header>
        <span class="fa-stack fa-3x">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-rss fa-stack-1x"></i>
        </span>
        <h1>First of the New Post Titles</h1>
      </header>
      <main>
        <h1>September 22nd, 2014</h1>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in.</p>
        <button>Read More</button>
      </main>
    </article>
    <article class="item coming-up">
      <header>
        <span class="fa-stack fa-3x">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-calendar-o fa-stack-1x"></i>
        </span>
        <h1>October 12, 2014</h1>
      </header>
      <main>
      <p>Our first son <strong><br>Tyler Weston Houtz<br></strong> will make his arrival!</p>
      </main>
    </article>
    <article class="item coming-up cu2">
      <header>
        <span class="fa-stack fa-3x">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-calendar-o fa-stack-1x"></i>
        </span>
        <h1>August 31st, 2014</h1>
      </header>
      <main>
      <p>Mountain Madness Airshow in Kalispell, Montana at Glacier International Airport</p>
      </main>
    </article>
    <article class="item this-matters">
      <header>
        <span class="fa-stack fa-3x">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-bullhorn fa-stack-1x"></i>
        </span>
        <h1>This Matters!</h1>    
      </header>
      <main>
        <h1>Some Serious Business Right Here</h1>
        <p>First of the Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
        <button>More Info</button>
      </main>
    </article>
    <article class="item hyst">
      <header>
        <span class="fa-stack fa-3x">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-search fa-stack-1x"></i>
        </span>
        <h1>Have You Seen This?</h1>    
      </header>
      <main>
        <%= link_to image_tag("flat-colors.png"), 'http://flatuicolors.com/' %>
        <p>Soft, satisfying and delicious to the eyes. This Flat UI Color Picker from <a href="http://flatuicolors.com/">flatuicolors.com</a> makes copy & pasting modern colors a snap!</p>
        <a href="http://stevenhoutz.com/seenthis"><button>More Finds</button></a>
      </main>
    </article>
    <article class="item local">
      <header>
        <span class="fa-stack fa-3x">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-heart fa-stack-1x"></i>
        </span>    
        <h1>Love Local</h1>
      </header>
      <main>
        <h1>An Interesting Person, Place, or Business</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
       <button>Check It Out!</button>
      </main>
    </article>
    <article class="item laugh">
      <header>
        <span class="fa-stack fa-3x">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-comment fa-stack-1x"></i>
        </span>
        <h1>Have A Laugh</h1>
      </header>
      <main>
        <p>A North Dakotan, a Coloradan, and a Montanan all went bear hunting. The first day the Coloradan went out and shot a huge bear, and when he brought it back to camp that night...</p>
        <button>More Laughs</button>
      </main>
    </article>
    <article class="item blog b2">
      <header>
        <span class="fa-stack fa-3x">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-rss fa-stack-1x"></i>
        </span>
        <h1>Second of the New Posts Title</h1>
      </header>
      <main>
        <h1>September 22nd, 2014</h1>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in.</p>
        <button>Read More</button>
      </main>
    </article>
    <article class="item image">
      <%= image_tag "bg.jpg" %>
    </article>
    <article class="item image">
      <%= image_tag "bg.jpg" %>
    </article>
    <article class="item image">
      <%= image_tag "bg.jpg" %>
    </article>    
    <article class="item image">
      <%= image_tag "bg.jpg" %>
    </article>
    <article class="item image">
      <%= image_tag "bg.jpg" %>
    </article>
    <article class="item image">
      <%= image_tag "bg.jpg" %>
    </article>    
  </div>
</section>

<%= render "refills/footer" %>